{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>


      <table class="table ">
 {% for rows in cafes %}
       <tr>
      {% for item in rows %}
{% if item[:4] =="http" %}
          <th scope="col"><a href="{{ item }}">Maps Link</a></th>
          {% else %}
      <th scope="col">{{ item }}</th>
   {% endif%}
 {% endfor %}
    </tr>

{% endfor %}


  	  </table>

      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
